@{
    ViewBag.Title = "About";
    Layout = "~/Views/Layout.cshtml";
}

<h2>About Me</h2>


<hr />

<p class="lead">

    Hello, World!<br /><br />My name is Derek Pauley. I am twenty three years old. I am happily engaged, have no children as of yet, and am set to be married in September of 2015.
    I am a student and aspiring junior software developer who lives about forty minutes outside of Nashville in a city called Clarksville.
    I am planning to pursuit a career in the Nashville area or its surrounding areas up to about 90 miles. I am an online student and my major is Computer Information Technology. I also plan
    to continue in school the next few years to come to obtain a degree in, more specifically, Computer Science/Software Engineering. Education is very important to me and is a bit of the reason why
    I am doing what I am today. After becoming a computer technician, then a network administrator specializing in Microsoft Server technologies, then after debating leaving technology to become a
    Sociology professor, I was pretty scratching an itch that I couldn't place my finger on. In the summer of 2013 I decided to take a Web Page Development course at my community college because I have
    <i><b>always</b></i> wanted to know more about internet technologies. The class was very fun. We learned about client/server relationships and then did HTML/CSS development with Microsoft Expression
    Web 4. Well, the class ended and I didn't have enough. I said "Ok .. that's nice. What's next?". I went online and completed Codecademy courses on Javascript, jQuery, API's, and even Python! I bought
    a book on Javascript and taught myself the fundamentals and started making web pages. Then, I landed my first IT job with Dell and stopped. I fell out of development with no intentions on making that
    my career. I was just <i>curious</i>. Except, that can't be the case. After working for months as a computer network support specialist, taking calls, diagnosing hardware/software issues, and making tickets
    I had this <i>feeling</i> in the back of my mind. I continued to read about the latest web technologies and even checked into more programming courses in my school. I was watching YouTube videos online and it
    was just something I continued to come back to. After more time I told myself that I would focus on what I wanted to do. I wanted to know how this all worked. Our phones, our TV's, our computers - <b>everything</b>.
    Well, what about the people involved with that? What about the people who spent long hours and hard work to make our lives easier? To help make our lives more productive? To reconnect our friends and families and
    share precious moments with them. Video games and streaming tv shows. Our bank accounts, our cars, our <b>world</b>. It's because people asked <i>why</i>
    Thats why you're reading this bio of me. Thats why I spend lots of time and hours learning, failing, experiencing. Because I want to change the world we live in. I want to make tools that other people use. I know
    I have a long way to go but that is ok because I know when to say I don't understand something and can learn from my mistakes. So reach out to me. Tell me I'm wrong. Correct me. I'll listen to what you have to say.
    People should be able to do what they love and be a part of something that brings meaning to their life. Technology is what I have chosen. That is what I want to leave the house for each morning. And I'm sure if you're
    reading this, then you feel the same way too. So I may not have much to show now with my infantile website, scarce number of Twitter followers, empty Github repositories, a porfolio "in progress" and a bunch of
    words on this screen. But go ahead and check back. The more you do. The more you will see.<br /><br /><b><i>That is what Development means to me</i></b>.

</p>