
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Layout.cshtml";
}


<h1>Welcome to the early stages of my new website.</h1>
<hr>
<div class="row">
    <div class="col col-sm-8">
        <p class="lead">lorem ispum</p>
        

    </div>

    <div class="col col-sm-4">
        <h4>Still in school</h4>I am a student online at WKU for Computer Information Technology. I have a very flexible schedule. All classes are online.
        <hr>

        <h4>After Experience</h4>I am passionate to build upon what I already know and apply those skills in a real world project. Please visit my @Html.ActionLink("Let Me Build Something For You","Build") page for more information.
    </div>
    </div>



